@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #2b2520;
  --ink-primary: #181512;

  --font-serif-tc: "Noto Serif TC", "Songti SC", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ink: var(--ink-primary);
  --color-seal: #ba3226;
  --font-serif: var(--font-serif-tc);
}

html {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* Scroll horizontally */
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--ink-primary);
  font-family: var(--font-serif-tc);
  height: 100vh;
  margin: 0;

}






.chapter {
  line-height: 2;
  letter-spacing: 0.15em;
  font-size: 1.25rem;
  /* Improve readability for long texts */
  text-justify: inter-ideograph;
  text-align: justify;
}